<?xml version="1.0" encoding="UTF-8" ?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="
http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd
">
	<context-param>
		<param-name>loggingRoot</param-name>
		<param-value>/home/admin/logs/wenda/</param-value>
	</context-param>
	<context-param>
		<param-name>loggingLevel</param-name>
		<param-value>info</param-value>
	</context-param>
	<context-param>
		<param-name>loggingCharset</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	<listener>
		<listener-class>com.alibaba.citrus.logconfig.LogConfiguratorListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.alibaba.citrus.webx.context.WebxContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>mdc</filter-name>
		<filter-class>com.alibaba.citrus.webx.servlet.SetLoggingContextFilter</filter-class>
	</filter>
	<filter>
		<filter-name>webx</filter-name>
		<filter-class>com.alibaba.citrus.webx.servlet.WebxFrameworkFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>mdc</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>webx</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

    <error-page>
        <error-code>400</error-code>
        <location>/error.htm</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/error.htm</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error.htm</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error.htm</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error.htm</location>
    </error-page>
    <error-page>
        <error-code>407</error-code>
        <location>/error.htm</location>
    </error-page>
    <error-page>
        <error-code>408</error-code>
        <location>/error.htm</location>
    </error-page>
    <error-page>
        <error-code>414</error-code>
        <location>/error.htm</location>
    </error-page>
    <error-page>
        <error-code>415</error-code>
        <location>/error.htm</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error.htm</location>
    </error-page>
    <error-page>
        <error-code>501</error-code>
        <location>/error.htm</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/error.htm</location>
    </error-page>
</web-app>