<!-- params: personalAttentionsList-->

<div class="">
<div class="alert alert-success">
    <span>我关注的问题</span>
</div>

#if(!$personalQuestionsList || $personalQuestionsList.size() == 0)
<span class="text-info">你太不积极了，一个问题都没关注。@_@</span>
#end

    #foreach($question in $personalQuestionsList)
    <div class="row-fluid">
        <div class="span1">
            <span class="attentionTag">关注人数<br/> $question.getAttentionCount()</span>
        </div>
        <div class="span11">
            <a href="questionDetail.htm?questionId=$question.getId()&userId=$user.getId()">
                <span class="qustionContent"> $question.getContent()</span>
            </a>

            <div class="askTime" style="padding-top: 8px;"><span class="muted"><i class=" icon-time"></i>  提问于$simpleDateFormat.format($question.getGmtCreate())</span> ,
                <span class=""><a href="questionDetail.htm?questionId=$question.getId()&userId=$user.getId()"> $question.getAnswerCount()  个回答</a></span></div>
        </div>
    </div>
    <hr class="dotline"/>
    #end


    #if($paging)
    <div class="pagination pagination-right ">
        <ul class="">
            #set ($prepage=$pageIndex - 1)
            #set($preTwoPage=$pageIndex - 2)
            #set($nextpage=$pageIndex + 1)
            #set($nextTwoPage=$pageIndex + 2)
            #set($lastTwoPage=$totalPage - 1)
            #set($difference = $totalPage - $pageIndex)

            #if($totalPage>10)
                <!--    page > 10 -->
                #if($pageIndex ==1)
                    <li class="disabled"><a>上一页</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">$nextpage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextTwoPage&userId=$user.getId()">$nextTwoPage</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$lastTwoPage&userId=$user.getId()">$lastTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$totalPage&userId=$user.getId()">$totalPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>

                #elseif( $pageIndex >5 && $difference>=5)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=1&userId=$user.getId()">1</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=2&userId=$user.getId()">2</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$preTwoPage&userId=$user.getId()">$preTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">$prepage</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">$nextpage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextTwoPage&userId=$user.getId()">$nextTwoPage</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$lastTwoPage&userId=$user.getId()">$lastTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$totalPage&userId=$user.getId()">$totalPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>

                #elseif($pageIndex ==5)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=1&userId=$user.getId()">1</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=2&userId=$user.getId()">2</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=3&userId=$user.getId()">3</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=4&userId=$user.getId()">4</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">$nextpage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextTwoPage&userId=$user.getId()">$nextTwoPage</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$lastTwoPage&userId=$user.getId()">$lastTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$totalPage&userId=$user.getId()">$totalPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>

                #elseif($pageIndex == 4)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=1&userId=$user.getId()">1</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=2&userId=$user.getId()">2</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=3&userId=$user.getId()">3</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">$nextpage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextTwoPage&userId=$user.getId()">$nextTwoPage</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$lastTwoPage&userId=$user.getId()">$lastTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$totalPage&userId=$user.getId()">$totalPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>

                #elseif($pageIndex == 3)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=1&userId=$user.getId()">1</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=2&userId=$user.getId()">2</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">$nextpage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextTwoPage&userId=$user.getId()">$nextTwoPage</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$lastTwoPage&userId=$user.getId()">$lastTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$totalPage&userId=$user.getId()">$totalPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>

                #elseif($pageIndex ==2)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=1&userId=$user.getId()">1</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">$nextpage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$next2pag&userId=$user.getId()">$nextTwoPage</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$lastTwoPage&userId=$user.getId()">$lastTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$totalPage&userId=$user.getId()">$totalPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>

                #elseif( $pageIndex >5 && $difference == 4)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=1&userId=$user.getId()">1</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=2&userId=$user.getId()">2</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="index.htm?pageIndex=$preTwoPage&userId=$user.getId()">$preTwoPage</a></li>
                    <li><a href="index.htm?pageIndex=$prepage&userId=$user.getId()">$prepage</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">$nextpage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextTwoPage&userId=$user.getId()">$nextTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$lastTwoPage&userId=$user.getId()">$lastTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$totalPage&userId=$user.getId()">$totalPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>

                #elseif($pageIndex >5 && $difference == 3)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=1&userId=$user.getId()">1</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=2&userId=$user.getId()">2</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$preTwoPage&userId=$user.getId()">$preTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">$prepage</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">$nextpage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextTwoPage&userId=$user.getId()">$nextTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$totalPage&userId=$user.getId()">$totalPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>

                #elseif($pageIndex >5 && $difference == 2)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=1&userId=$user.getId()">1</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=2&userId=$user.getId()">2</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$preTwoPage&userId=$user.getId()">$preTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">$prepage</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">$nextpage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$totalPage&userId=$user.getId()">$totalPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>

                #elseif($pageIndex >5 && $difference == 1)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=1&userId=$user.getId()">1</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=2&userId=$user.getId()">2</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$preTwoPage&userId=$user.getId()">$preTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">$prepage</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">$nextpage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>

                #elseif($pageIndex == $totalPage)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=1&userId=$user.getId()">1</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=2&userId=$user.getId()">2</a></li>
                    <li class="disabled"><a>...</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$preTwoPage&userId=$user.getId()">$preTwoPage</a></li>
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">$prepage</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li class="disabled"><a>下一页</a></li>
                #end

            #else
                <!--   1< page < 11 -->
                #if( $pageIndex ==1)
                    <li class="disabled"><a>上一页</a></li>
                    <li class="disabled"><a>$pageIndex</a></li>
                    #foreach($index in [2..$totalPage])
                        <li><a href="personalAttentions.htm?pageIndex=$index&userId=$user.getId()">$index</a></li>
                    #end
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>

                #elseif( $pageIndex ==$totalPage)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    #foreach($index in [1..$lastTwoPage])
                        <li><a href="personalAttentions.htm?pageIndex=$index&userId=$user.getId()">$index</a></li>
                    #end
                    <li class="disabled"><a>$pageIndex</a></li>
                    <li class="disabled"><a>下一页</a></li>

                #elseif( $pageIndex <$totalPage && $pageIndex>1)
                    <li><a href="personalAttentions.htm?pageIndex=$prepage&userId=$user.getId()">上一页</a></li>
                    #foreach($index in [1..$totalPage])
                        #if($index == $pageIndex)
                            <li class="disabled"><a>$pageIndex</a></li>
                        #else
                            <li><a href="personalAttentions.htm?pageIndex=$index&userId=$user.getId()">$index</a></li>
                        #end
                    #end
                    <li><a href="personalAttentions.htm?pageIndex=$nextpage&userId=$user.getId()">下一页</a></li>
                #end
            #end
        </ul>
    </div>
    #end

</div>
